<div>
<mat-card *ngIf="recommendations.length > 0" class="info-container">
    <mat-card-header>
      <mat-card-title>Recommended APIs for search: {{query}}</mat-card-title>
      <mat-card-subtitle>
        <p>APIs.guru dataset commit hash version: {{metadata.commit}}</p>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <div *ngFor ="let recommendation of recommendations">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon> chevron_right </mat-icon>
          {{recommendation.endpoint}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <markdown ngPreserveWhitespaces>
        {{recommendation.description}}
      </markdown>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
  </div>
</div>
