<mat-list>
  <mat-card *ngIf="recommendations.length > 0">
    <mat-card-header>
      <mat-card-title>Recommended APIs for search: {{query}}</mat-card-title>
      <mat-card-subtitle>Model metadata</mat-card-subtitle>
      <p>{{metadata}}</p>
    </mat-card-header>
  </mat-card>
  <mat-list-item *ngFor ="let recommendation of recommendations">
    <a matLine class="item-container">
      <mat-icon> chevron_right </mat-icon>
      <span >{{recommendation}}</span>
    </a>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

